h1{
    margin:70px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:900 ;
    font-size: 80px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
}
button{
    margin-top: 20px;
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    
}
button:hover{
    background-color: green;
}
#quote {
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  
}
#who {
    font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  margin-top: 30px;
  
}